* {
  margin: 0;
  padding: 0;
}
body {
	background-image: url(../img/bg.jpg);
}

.header {
	font-size: 30px;
	color: red;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
.mainGame {
	padding-top: 40px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.gamePlayer {
	margin-left: 40px;
}
.gameBot {
	margin-right: 40px;
}

.fightPlayers {
	font-size: 20px;
	display: flex;
  	color: lime;
  	border: 2px solid aqua;
  	border-radius: 3px;
  	margin-top: 30px;
}

.fightPlayers input {
  	transform: scale(2.0);
}

.playerAttack, .playerDefend {
	
  	padding: 10px 10px;
}

.playerDefend input, .playerDefend label,
.playerAttack input, .playerAttack label{
  	margin: 20px 15px;
}


.attackHead, .attackBody, .attackFoot, .defendFoot, .defendHead, .defendBody {
	display: flex;
	justify-content: space-between;
  	align-items: center;
}

.buttonFight {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.buttonFight input{
	padding: 5px 10px;
	font-size: 20px;
	background: white;
	cursor: pointer;
	transition: 1s;
	color: black;
	border-radius: 5px;
}

.buttonFight input:hover {
	border: 2px red solid;
	
	box-shadow: 0 0 25px red;
	background: aqua;
	color: black;
}

.playerName, .botName {
	color: #d427f2;
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
}
.playerName {
	font-family: 'Spectral SC', serif;
}
.botName {
	font-family: "Modak", cursive;
}



.playerHp , .botHp{
	display: flex;
	max-height: 30px;
}
.hpNow  {
	background-color: lime;
	width: 250px;
	height: 16px;

}
.hpLost {
	background-color: red;
	width: 0px;
	height: 16px;
	margin-right: 34px;
}
img {
	width: 250px;
	height: 340px;
	object-fit: cover;
}

.playerImg img {
	border: 10px solid lime;
	box-sizing: border-box;
}

.botImg img {
	border: 10px solid red;
	box-sizing: border-box;
}


.wrapper{
	display: flex;
	justify-content: center;
	margin-top: 30px;
	width: 100%;
}

.logGame {
	margin: 0 auto;
	justify-content: center;
	width: 700px;
}

.fightLog{
	text-align: center;
	color: aqua;
	width: 100%;
	border-bottom:4px solid aqua;
	color: #fcec03;
}

.fightLog .playersHp {
	color: lime;
	font-weight: bold;
}

.fightLog .botsHp {
	color: red;
	font-weight: bold;

}

.logName {
	color: aqua;
	text-align: center;
	border-bottom:4px solid aqua;
	box-shadow: 0 0 25px #09ff00;
}
.log {
	max-height: 204px;
	overflow: auto;
	border-left: 4px solid aqua;
	border-right: 4px solid aqua;
}


